$primary-bg-color: #67AFCB;
$secondary-bg-color: #E4F1F6;
$dark-bg-color: #092834;
$text-dark: #092834;
$text-light-dark: #347B98;
$text-light: #E4F1F6;
$color-success: #70db70;
$color-danger :#ff6666;

@import '_icomoon';


*{
    // margin: 0;
    // padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container-fluid{
    min-height: 100vh;
    background-color: $primary-bg-color;
}

.container{
    position: relative;
    width: 100%;
    max-width: 825px;
    background-color: $secondary-bg-color;
    border-radius: 15px;
}
a{
    align-self: flex-end;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    color: $text-dark;
}
a:hover{
    text-decoration: none;
    color: $text-light-dark;
}

// .flex-container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .flex--column{
//     flex-direction: column;
// }

.btn{
    width: 120px;
    border-radius: 10px;
    text-align: center;
    color: $text-dark;
}

.btn:hover{
    color: $text-light;
}

.btn-danger{
    background-color: $color-danger;
}
.btn-danger:hover{
    background-color: darken($color-danger, 10);
}
.btn-success{
    background-color: $color-success;
}
.btn-success:hover{
    background-color: darken($color-success, 10);
}

form{  
    padding: 25px 40px;
    button{
        margin-top: 20px;
        background-color: $dark-bg-color;
        color: $text-light;
        border: none;
        border-radius: 15px;       
        height: 30px;
        width: 220px;
        font-weight: 700;
        transition: 0.5s;
        cursor: pointer;
    }
    button:hover{
        background-color: $primary-bg-color;
        color: $text-dark;
        .icon-arrow-right{
            transition: 1s;
            padding-left: 50px;
        }
    }
}
.form-group{
    position: relative;
    input{    
        margin-bottom: 10px;
        height: 30px;
        width: 220px;
        padding-left: 5px;
        border-radius: 5px;
        border: none;
    }
    input:focus{
        outline: 0;
        box-shadow: 0 0 1pt .5pt #67AFCB;
    }
    .icon-valid,
    .icon-invalid{
        display: none;
    }
    .icon-invalid,
    .icon-valid{
        position: absolute;
        top: 20%;
        right: 5px;
    }
    label{
        color: $text-dark;
    }
}

form.was-validated{
    input:invalid{
        box-shadow: 0 0 1pt .5pt $color-danger;
    }
    input:invalid~.icon-invalid{
        display: block;
    }
    input:valid{
        box-shadow: 0 0 1pt .5pt $color-success;
    }
    input:valid~.icon-valid{
        display: block;
    }
}


.success-msg{
    color: $color-success;
    margin-bottom: 20px;
    position: absolute;
    top: 10px;
    
}

.personal-page{
    min-height: 600px;
    width: 100%;
    justify-content: flex-start;
    .username{
        align-self: flex-end;
        padding-right: 10px;
        margin-top: 10px;
    }
    .icon-user{
        font-size: 1rem;
        padding-right: 10px;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $primary-bg-color;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .disable,
  .soup.disable,
  .salads.disable,
  .salads-addons.disable{
      display: none;
  }

  select{
      margin-bottom: 1rem;
  }
